<html>

	<head>
		<title>LOGIN ACCOUNT</title>
	
		<style type="text/css">
			body
			{
				background-image: url(flash.jpg);
				background-size: cover;
				background-attachment: fixed;
			}
			div
			{
				background: white;
				opacity: 0.95;
				width: 30%;
				padding: 10px;
				margin:30px auto;
				font-family: Garamond;
				border-radius: 10px;
				margin-top: 10%;
			}
			form
			{
				margin-top: 40px;
			}
		</style>

	</head>

<body>

<div>

<center><h1>LOGIN YOUR ACCOUNT</h1></center>

<form name="form1" method="post" action="#">

		<td>	
		<table border align="center">
			<tr><td>USER ID</td>
			<td><input type="text" name="usId"></td></tr>
			
			<tr><td>PASSWORD</td>
			<td><input type="text" name="passw"></td></tr>
		</td>
		</table>	
		<br>
		<center><input type="button" value="LOGIN"></center>

</form>

<div>
</body>
</html>