<html>
<head>
	<title>
		NEW ARRIVAL
	</title>

	<link href="style.css" type="text/css" rel="stylesheet">
</head>

<body>

<div class="main">
<div class="topbar"></div>
	
	<div class="socmed">
		<div class="container">
			<div class="icon">
				<a href="https://twitter.com/login" target="_blank">
					<img src="images/twitter.png">
				<a href="https://web.facebook.com/"target="_blank">
					<img src="images/facebook.png">
				<a href="https://www.instagram.com/accounts/login/" target="_blank">
					<img src="images/instagram.png">
				<!-- this three link above is directly link to the image button, which 
				mean when they click the image button, it will directly go to the 
				website link above -->
			</div>
			<div class="header_right">
				<div class="login_reg">
					<a href="login.html" target="_blank">
					Login/</a>
					<a href="signup.html" target="_blank">
					SignUp</a>
				</div>
				<div class="cart">
					<!-- <a href="CART.html" target="_blank"> -->
					<img src="images/cart.png">
					<span>Cart (0)</span></a>
				</div>
			</div>
		</div>
	</div>

	<div class="header">
		<div class="container">
			<div class="logo">
				<img src="images/logo.png">
			</div>
			<div class="navbar">
				<a href="main.html">HOME</a>
				<a href="newarrival.html" target="_blank">NEW ARRIVAL</a> 
				<a href="AboutUs.html" target="_blank">ABOUT</a>
				<a href="ContactUs.html" target="_blank">CONTACT</a>
			</div>
		</div>
	</div>
	
	<div class="welcome_text">
		<div class="container">
			<h1> NEW ARRIVALS ITEMS!!</h1>
		</div>
	</div>

	
	<div class="product">
		<div class="container">
			<div class="product_one product_six">
				<div class="product_img">
					<img src="images/product6.jpg">
				</div>
				<div class="product_text">
					<h4>HP Slimline 290</h4>
				</div>
				<div class="star_rating">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star2.png">
				</div>
				<div class="product_desc">
					Intel® Pentium J5005 | 4GB | 1TB HDD | UHD 605
				</div>
				<div class="product_price">
					<div class="price">
						RM1,489.00
					</div>
					<div class="button">
						<a href="product6.html"target="_blank">BUY
					</div>
				</div>
			</div>
			<div class="product_one product_seven">
				<div class="product_img">
					<img src="images/product7.png">
				</div>
				<div class="product_text">
					<h4>MSI GF63 Thin 9SCXR</h4>
				</div>
				<div class="star_rating">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star2.png">
				</div>
				<div class="product_desc">
					Intel® i5-9300H | 4GB | 256GB SSD | GTX 1650 4GB Max-Q | 15.6″ FHD IPS
				</div>
				<div class="product_price">
					<div class="price">
						RM2,999.00
					</div>
					<div class="button">
						<a href="product7.html"target="_blank">BUY
					</div>
				</div>
			</div>
			<div class="product_one product_eight">
				<div class="product_img">
					<img src="images/product8.jpg">
				</div>
				<div class="product_text">
					<h4>Huawei Matebook D 14</h4>
				</div>
				<div class="star_rating">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star2.png">
				</div>
				<div class="product_desc">
					 AMD R7 – 3700U | 8GB | 512GB SSD | AMD Radeon RX Vega 10 | 14.0″ FHD
				</div>
				<div class="product_price">
					<div class="price">
						RM2,899.00
					</div>
					<div class="button">
						<a href="product8.html"target="_blank">BUY
					</div>
				</div>
			</div>
			<div class="product_one product_nine">
				<div class="product_img">
					<img src="images/product9.png">
				</div>
				<div class="product_text">
					<h4>Acer Nitro 5</h4>
				</div>
				<div class="star_rating">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star2.png">
				</div>
				<div class="product_desc">
					Intel® i7-10750H | 8GB | 512GB SSD | GTX 1660Ti 6GB | 15.6″ FHD IPS 144HZ
				</div>
				<div class="product_price">
					<div class="price">
						RM4,899.00
					</div>
					<div class="button">
						<a href="product9.html"target="_blank">BUY
					</div>
				</div>
			</div>
			<div class="product_one product_ten">
				<div class="product_img">
					<img src="images/product10.png">
				</div>
				<div class="product_text">
					<h4>MSI Optix MAG321CQR</h4>
				</div>
				<div class="star_rating">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star.png">
					<img src="images/star2.png">
				</div>
				<div class="product_desc">
					 31.5″ WQHD VA AG | 144Hz 1ms | DCI-P3 92%, sRGB 122% | 178°
				</div>
				<div class="product_price">
					<div class="price">
						RM2,099.00
					</div>
					<div class="button">
						<a href="product10.html"target="_blank">BUY
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="column3">
				<h4>About us</h4>
				<p>Please follow us in any social media below</p>
				<p>to make you up-to-date with our product</p>
				<br>
				<h4>Socialize with us</h4>
				<p><img src="images/fb.png"><img src="images/ig.png"><img src="images/tw.png">
			</div>	
			<div class="column3 second-row">
			<br>
				<h4>Our Archives</h4>
				<p>March 2012</p>
				<p>February 2013</p>
				<p>January 2014</p>
				<p>July 2015</p>
				<p><b>Contact us at</b> 07-4556368 </p>
			</div>	
		</div>
	</div>
	
</div>
</body>
</html>